/*
    home.css: This website contains selectors only used in home.css

    All pages share the styles on index.css but you should create 
    one more css for each page that will contain the selected used 
    on that page only (the ones not reused in other pages).
*/
.title {
  color: #ffc107;

  margin-right: 200px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
h3,
h2,
h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: #575fcc;
}
.navbar {
  background-color: #575fcc;
}

.homeimage {
  background: url("https://res.cloudinary.com/orosell666/image/upload/v1650639584/harley-davidson-rEPAjhzt7TY-unsplash_pgfixd.jpg")
    no-repeat;
  background-size: 700px 467px;
}
.text {
  color: #575fcc;
}

/* ESTO ES PARA QUITAR LA LINEA AZUL DEBAJO DEL TÃTULO EN EL NAVBAR */
div > a {
  text-decoration: none;
}

.redDot {
  color: rgb(246, 5, 5);
}

.cardImagesize {
  height: 180 px;
  width: 300px;
}

.scroll {
  overflow-x: scroll;
}
